/* Layout */

body{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(0, 0, 0));
}

.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockContainer,
#clock, #clock2 {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second, #hour2, #minute2, #second2 {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}

/* Second clock face */

#second2-arm {
    stroke: rgb(255, 0, 0);
    fill: none;
}

#circle2 {
    fill: rgb(175, 175, 175);
}

#clock2Marks {
    fill: none;
    stroke: rgb(27, 36, 66);
    stroke-width: 5;
    stroke-miterlimit: 10;
}

#circle2 {
    fill: none;
    stroke: rgb(29, 23, 80);
    stroke-width: 5;
    stroke-miterlimit: 10;
}